.buttonBase{
    padding: 1rem; 
    font-size : 18px ; 
}

.buttonLight{
    background-color : lightgray ; 
    color :black  ; 
}

.buttonDark{
    background-color : black ; 
    color : white ; 
}